# -----------------------------------------------------------------------------
# System Environment Variables for Media Server Stack
# -----------------------------------------------------------------------------

# Your local system user and group IDs.
# (On Linux/Mac, run the command 'id' in your terminal to verify yours)
PUID=1000
PGID=1000

# Your local Timezone
TZ=Asia/Kathmandu

# The master directory path if you prefer using an absolute path reference.
# Note: In your current docker-compose.yml, we converted the volume mappings
# to use relative paths (./torrents and ./media) starting from where the
# file sits, but keeping this variable here won't break anything.
MEDIA_DIR=/path/to/data

# CF Token
CLOUDFLARE_API_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CLOUDFLARE_TUNNEL_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Discord
WUD_DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
