(cloudflare_tls) {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
}

jf.example.com {
    import cloudflare_tls
    reverse_proxy jellyfin:8096
}

rq.example.com {
    import cloudflare_tls
    reverse_proxy seerr:5055
}
